ipywidgets==7.5.1
matplotlib==3.0.0
numpy==1.19.5
pandas==1.1.0
plotly==4.14.3
pyvolve==0.8.8
scikit-learn==0.23.2
seaborn==0.10.1
treesap==1.0.8
treeswift==1.0.97
voila==0.2.6
watermark==1.6.1
xlrd==2.0.1
